<div class="container">
<div class="message-container">
<h1>#<%= @booking.celebrity.name %></h1>
<div id="messages" data-booking-id="<%= @booking.id %>">
  <% @booking.messages.each do |message| %>
    <%= render "message", message:message %>
  <% end %>
</div>
<%= simple_form_for [ @booking, @message ] do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@booking.celebrity.name}" %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
</div>
</div>

