<div class="card-detailed" style="width: 100%;">
  <div class="card-flex">
    <%= cl_image_tag celebrity.photos.first.key, height: 800, width: 600, crop: :fill %>
    <div class="body card-body-container">
      <div class="card-title card-title-detailed">
        <h3 class="card-title"> <%= celebrity.name %> </h5>
        <h5 class="card-text"> $<%= celebrity.price_per_day %> per day </p>
      </div>
      <div class="card-body card-body-info">
        <p class="card-text"> <%= celebrity.description %> </p>
        <p class="card-text">
          <% ratings = [] %>
          <% celebrity.reviews.each { |review| ratings << review.rating}%>
          <strong>Rating: </strong> <%= ratings.sum.fdiv(ratings.length).round(2) %>
        </p>
      </div>
      <div class="card-buttons-layout">
        <div>
          <a href="<%= new_celebrity_booking_path(celebrity) %>" class="button-style button-book">Book</a>
        </div>
         <div class="card-buttons-layout">
         <% if celebrity.user == current_user %>
          <%= link_to edit_celebrity_path(celebrity),
            style: "padding: 8px" do %>
            <i class="fas fa-user-edit fa-lg"></i>
          <% end %>
          <%= link_to celebrity_path(celebrity),
              method: :delete,
              data: {confirm: "Do you want to remove this celebrity?"},
              style: "padding: 8px" do %>
            <i class="fas fa-trash fa-lg"></i>
          <% end %>
          <% end%>
        </div>
      </div>
    </div>
    <div class="map">
      <div id="map"
         data-markers="<%=
           {
             lat: celebrity.latitude,
             lng: celebrity.longitude
           }.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
