<h1 class = "bookings_header">My bookings</h1>
<% @bookings.each do |booking|%>
  <% if booking.user == current_user %>
      <div class="new-details-card">
        Celebrity:<%= booking.celebrity.name %> <br>
        Dates requested: <%= booking.start_date %> - <%= booking.end_date %><br>
        Total price: <%= booking.total_price %><br>
        Status: <%= booking.status %>
        <span class = "speak_to_host"><%= link_to "Speak to host", booking_messages_path(booking) %></span>
        <% if booking.status == 'concluded'%>
          <%= link_to 'Leave a Review', new_booking_review_path(booking) %>
        <% end%>
      </div>
    <% end%>
  <% end%>

